.product-card {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    max-width: 200px;
    height: 300px;
    width: 200px;
    justify-content: center;
}

.product-card .description {
    display: flex;
    flex-direction: column;
}

.product-card .image {
    max-height: 200px;
    max-width: 200px;
    width: 200;
}

.product-card .image img {
    height: 200px;
    width: 200px;

}

.product-card .product-name {
    font-size: 20px;
    text-decoration: none;
    margin: auto;
}

.product-card .price-add {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    gap: 50px;
}

.product-card .price-add .product-price {
    color: rgb(0, 168, 0);
    margin: auto;
}

.product-card .material-icons.md-48 {
    font-size: 30px;
    margin: auto;
}